!!! 5
%html
  %head
    %title= "Compiler LA"
    %meta{ :content => "A civic organization dedicated to improving lives in Los Angeles through technology", :name => "description", :prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" }
    %meta{ property: "og:type",   content:  "website" }
    %meta{ property: "og:url",    content:  "http://compiler.la" }
    %meta{ property: "og:title",  content:  "Compiler LA" }
    %meta{ property: "og:image",  content:  "http://compiler.la/images/metaimage.png" }
    %meta{ property: "og:description",  content:  "A civic-minded organization using tech and data to build the Los Angeles of tomorrow" }
    = css :application
    = js  :application

  %body
    = yield

    #footer
      .content
        .margin-bottom.clearfix
          #footer-logo
            .footer-logotxt Compiler <span class="red">LA</span>

          #footer-links
            %div
              %span 810 E 3rd St #32, Los Angeles CA, 90013
            %div
              %span.footer-linkslash /
            %div
              %img{ src: "images/twitter.svg" }
              %a{ href: "http://twitter.com/compilerla", target: "_blank" } @compilerLA
            %div
              %span.footer-linkslash /
            %div
              %a{ href: "mailto:stephen@compiler.la" } stephen@compiler.la

        .footer-break.margin-bottom

        #footer-subline=  "© #{Date.today.year} Compiler LA"