!!! 5
%html
  %head
    %title= "Compiler LA"
    %link{ :href => "images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}
    %meta{ :content => "A civic organization dedicated to improving lives in Los Angeles through technology", :name => "description", :prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" }
    %meta{ property: "og:type",   content:  "website" }
    %meta{ property: "og:url",    content:  "http://compiler.la" }
    %meta{ property: "og:title",  content:  "Compiler LA" }
    %meta{ property: "og:image",  content:  "http://compiler.la/images/metaimage.png" }
    %meta{ property: "og:description",  content:  "A civic-minded organization using tech and data to build the Los Angeles of tomorrow" }
    = css :application
    = js  :application

  %body
    = yield

    #footer
      .content
        .margin-bottom.clearfix
          #footer-logo
            .footer-logotxt Compiler <span class="red">LA</span>

          #footer-links
            %div
              %span 120 S Vignes St Apt 403, Los Angeles CA, 90012
            %div
              %span.footer-linkslash /
            %div
              %img{ src: "images/twitter.svg" }
              %a{ href: "http://twitter.com/compilerla", target: "_blank" } @compilerLA
            %div
              %span.footer-linkslash /
            %div
              %a{ href: "mailto:stephen@compiler.la" } stephen@compiler.la

        .footer-break.margin-bottom

        #footer-subline=  "© #{Date.today.year} Compiler LA"
        
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57796507-1', 'auto');
      ga('send', 'pageview');